@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Mad Mecha";
    src: url("https://db.onlinewebfonts.com/t/b2391e8f9d46fa4d0182f994b92edea0.eot");
    src: url("https://db.onlinewebfonts.com/t/b2391e8f9d46fa4d0182f994b92edea0.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b2391e8f9d46fa4d0182f994b92edea0.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b2391e8f9d46fa4d0182f994b92edea0.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b2391e8f9d46fa4d0182f994b92edea0.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b2391e8f9d46fa4d0182f994b92edea0.svg#Mad Mecha")format("svg");
}

body {
  background: #ecfff3;
}

.header{
    background-color: rgb(83, 117, 64);
    width: 100%;
    height: 15vh;
    display: inline-flex;
    align-items: center;
}

.header_logo{
    width: auto;
    height: 80%;
    aspect-ratio: 1;
}

.header_titles{
    display: block;
}

.header_title{
    font-family: Mad Mecha;
    font-size: 4rem;
    color: rgb(184, 211, 126);
    margin-top: 2rem;
}

.header_subtitle{
    font-family: Mad Mecha;
    font-size: 1.5rem;
    color: rgb(183, 212, 160);
    margin-top: -1.5rem;
}

.header_buttons{    
    display: inline-flex;
    position: absolute;
    right: 2rem;
    padding: 1rem;
    gap: 1rem;
    margin-top: 3rem;
}

.header_button{
    padding-inline: 2rem;
    padding-block: 0.5rem;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #cfeba4;
    font-weight: bold;
    color: #334518;
}

input[type="text"], input[type="password"]{
    @apply py-2 px-3 rounded text-black;
}
input[type="password"]{
    @apply font-black;
}
label {
    
}

.btn-primary {
    @apply bg-white w-fit text-black py-1.5 px-6 rounded font-medium;
}

/* .popup{
    position: fixed;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    display: flex;
    margin: auto;
} */

/* .form{
    width: 80vh;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.6);
    padding: 1rem;
    border-radius: 20px;
}
input, label{
    margin-block: 1rem;
    width: 80%;
} */